.header {
  display: flex;
  .burger {
    margin-left: 2px;
  }
  .logo {
    width: 85px;
    margin-left: 15px;
  }
  .devider {
    margin-left: 20px;
    margin-right: 20px;
  }
  .repair {
    margin: 0px 10px;
  }
  .checkstatus {
    margin-left: 10px;
  }
}

.block1 {
  display: flex;
  .Text1 {
    margin-left: 10px;
  }
  .highlight {
    position: absolute;
    margin-top: 20px;
  }
  .text2 {
    display: flex;
    position: absolute;
    padding-top: 70px;
  }
}